
.icon-right-hand:before { content: '\e800'; } /* '' */
.icon-left-hand:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e803'; } /* '' */
.icon-video:before { content: '\e804'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
